set pgp_default_key="F14EB8850784007F"
set pgp_sign_as = "DE396483A73D658A"

set crypt_use_gpgme = "yes"
set crypt_autosign=yes

set crypt_verify_sig = "yes"
set crypt_replysign = "yes"
set crypt_replyencrypt = "yes"
set crypt_replysignencrypted = "yes"
set crypt_protected_headers_write = "no"

set pgp_use_gpg_agent = "yes"
set pgp_check_gpg_decrypt_status_fd = "yes"
set pgp_self_encrypt = "yes"
