arandr=
audacity=
blueman-manager=
chromium=
evince=
firefox=
org-knopflerfish-framework-bundlethread=󰙅
gimp=
gimp=
gitk=
gitkraken=
google-chrome=
gthumb=
inkscape=
jellyfin media player=󰿎
jetbrains-datagrip=
jetbrains-idea=
jetbrains-pycharm=
jetbrains-rider=󰪮
jetbrains-webstorm=󰛦
keepassxc=
kitty=
libreoffice-calc=
libreoffice-writer=
libreoffice=
nm-connection-editor=
org.remmina.remmina=󰢹
pavucontrol=
riot=
rocket.chat=
signal=󰭹
spotify=
steam=
teams-for-linux=󰊻
termite=
texstudio=
thunderbird=
virt-manager=
virtualbox machine=
virtualbox manager=
virtualbox=
wireshark-gtk=
wireshark-gtk=
xfce4-terminal=
xterm=
zathura=
zim=
zoom=
