romkatv/powerlevel10k powerlevel10k
fdw/ranger-zoxide
zsh-users/zsh-history-substring-search
jimhester/per-directory-history
zsh-users/zsh-completions
Aloxaf/fzf-tab
softmoth/zsh-vim-mode 
zdharma/fast-syntax-highlighting
zsh-users/zsh-autosuggestions
