romkatv/powerlevel10k powerlevel10k
fdw/ranger_autojump
zsh-users/zsh-history-substring-search
jimhester/per-directory-history
zsh-users/zsh-completions
Aloxaf/fzf-tab
zdharma/fast-syntax-highlighting
zsh-users/zsh-autosuggestions
