romkatv/powerlevel10k kind:fpath
fdw/yazi-zoxide-zsh
zsh-users/zsh-history-substring-search
zsh-users/zsh-completions
Aloxaf/fzf-tab
softmoth/zsh-vim-mode 
zdharma-continuum/fast-syntax-highlighting
zsh-users/zsh-autosuggestions
belak/zsh-utils path:completion
